<!DOCTYPE html>
<html lang="de">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.5.9/css/uikit.min.css"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css" integrity="sha384-QYIZto+st3yW+o8+5OHfT6S482Zsvz2WfOzpFSXMF9zqeLcFV0/wlZpMtyFcZALm" crossorigin="anonymous">
        <link href="styles.css" rel="stylesheet">
    </head>
    <body class="uk-height-1-1">
       

            <div class="uk-vertical-align uk-text-center uk-height-1-1">
                <div class="uk-vertical-align-middle" style="width: 250px;">
    
                    <img class="uk-margin-bottom" width="320" height="280" src="../img/KontaktBuch.png" alt="">
    
                    <form class="uk-panel uk-panel-box uk-form">
                        <div class="uk-form-row">
                            <input class="uk-width-1-1 uk-form-large" type="text" placeholder="Email - Adresse">
                        </div>
                        <div class="uk-form-row">
                            <input class="uk-width-1-1 uk-form-large" type="text" placeholder="Password">
                        </div>
                        <div class="uk-form-row">
                            <a class="uk-width-1-1 uk-button uk-button-primary uk-button-large" href="../view/app.html">Login</a>
                        </div>
                       
                    </form>
    
                </div>
            </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.5.9/js/uikit.min.js" 
                integrity="sha512-OZ9Sq7ecGckkqgxa8t/415BRNoz2GIInOsu8Qjj99r9IlBCq2XJlm9T9z//D4W1lrl+xCdXzq0EYfMo8DZJ+KA==" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.5.9/js/uikit-icons.min.js" 
                integrity="sha512-hcz3GoZLfjU/z1OyArGvM1dVgrzpWcU3jnYaC6klc2gdy9HxrFkmoWmcUYbraeS+V/GWSgfv6upr9ff4RVyQPw==" crossorigin="anonymous"></script>
    </body>
</html>